body {
    background-color: #a44c64;
    margin: 0%;
    height: 1100px;
}


div#cab2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 13px;
    word-spacing: 3px;
    color: whitesmoke;
}

.paisagem {
    background-image: url(Imagens/nicaragua_principal_03.jpg);
    margin: 0%;
    width: 1440px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

main.pt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
}

main.pt2 {
    width: 1440px;
    height: auto;
    background-color: antiquewhite;
    margin: 0%;

}

.texto {
    display: inline-block;
    margin: 50px;
}

#t01 {
    color: #a44c64;
    font-family: Arial, Helvetica, sans-serif;

}

#t02 {
    font-family: Arial, Helvetica, sans-serif;

}




.rp {
    text-align: center;
    color: white;
    width: 150px;
    background-color: #a44c64;
    margin: auto;
}

img {
    width: 150px;
    height: 120px;
    margin-top: 10px;

}

.infos-img {
    margin: 10px;

}

.card {
    display: flex;
    flex-direction: column;

}
